lightning==2.5.1.post0
torch==2.5.1+cu121
torch-geometric==2.6.1
torch_scatter==2.1.2+pt25cu121
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.6.1
scipy==1.15.2
matplotlib==3.10.3
psutil==5.9.8
trimesh==4.6.10
networkx==3.2.1
zarr==2.18.0
tqdm==4.67.1
pyyaml==6.0.2
